@{
    ViewBag.Title = "TransferProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section topright{

<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-flag"></i>
            Transfer Poeperty
            <span>
                >
                SALE
            </span>
        </h1>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <!-- Button trigger modal -->
    </div>
</div>
}
<div id="content" data-ng-app="TransferApp" data-ng-controller="TransferPropertyController">

    <div id="MessageArea" class="alert alert-block alert-{{MessageClass}}" style="display:none;">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i><b id="MessageTitle"></b> {{MessageTitle}}</h4>
        <p id="Message">
            {{Message}}
        </p>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="" data-ng-init="TransferProeprtyInit()">
        <input type="hidden" id="hidFlatID" value="@ViewBag.FlatID" />
        <!-- START ROW -->
        <div class="row" id="Newsaletower" style="display:none;">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-user"></i></span>
                        <h2>Property</h2>
                    </header>
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <div class="widget-body">
                            <div class="step-content">
                                <div class="form-horizontal" id="fuelux-wizard">
                                    <div class="form-content">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <b>Select Tower:</b><br />
                                                <select name="TowerID" class="form-control" data-ng-change="TowerChange()" data-ng-model="Flat.TowerID" id="searchby" required>
                                                    <option data-ng-repeat="pro in TowerList" value="{{ pro.TowerID }}">{{pro.TowerName }}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3" id="searchflatname">
                                                <b>Select Flat:</b><br />
                                                <select name="FlatID" class="form-control" data-ng-model="Flat.FlatID" id="FlatID" required>
                                                    <option data-ng-repeat="fl in FlatList" value="{{ fl.FlatID }}">{{ fl.FlatNo }}</option>
                                                </select>

                                            </div>
                                            <div class="col-md-3">
                                                <b>Select Transfer Type:</b><br />
                                                <select name="TransferID" class="form-control" data-ng-change="TransferChange()" data-ng-model="Flat.TransferID" id="TransferID" required>
                                                    <option value="Transfer Flat">Transfer Flat</option>
                                                    <option value="Transfer Tower">Transfer Tower</option>
                                                    <option value="Transfer Project">Transfer Project</option>
                                                    <option value="Transfer Company">Transfer Company</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <br />
                                                <input type="submit" value="Search" data-ng-click="SearchsaleTransferProperty()" class="btn btn-primary" id="Srch1" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row" id="divTrans">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Property Property</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div class="row">
                                    <div class="col col-md-5">
                                        <div class="row" id="divTower">
                                            <div class="col col-4">Select Tower:</div>
                                            <div class="col col-6">
                                                <select id="ddlTower" name="ddlTower" class="form-control" data-ng-change="ChangeTower2()" data-ng-model="Trans.TowerID">
                                                    <option data-ng-repeat="pro in TowerList" value="{{ pro.TowerID }}">{{pro.TowerName }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" id="divFlat">
                                            <div class="col col-4">Select Flat:</div>
                                            <div class="col col-6">
                                                <select id="ddlFlat" name="ddlFlat" class="form-control" data-ng-change="ChangeFlat()" data-ng-model="Trans.FlatID">
                                                    <option data-ng-repeat="fl in FlatList2" value="{{ fl.FlatID }}">{{ fl.FlatNo }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-4">
                                                </div>
                                                <div class="col col-4">
                                                    <br />
                                                    <a data-toggle="modal" href="#myModal" id="btnTransfer" class="btn btn-success btn-sm"><i class="fa fa-plus-circle"></i> Transfer</a> &nbsp;&nbsp;
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-3">
                                        <h3>Current Property Info</h3>
                                        <div class="row">
                                            <div class="col col-6">
                                                Company Name:
                                            </div>
                                            <div class="col col-6">
                                                {{FlatDetails.CompanyName}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-6">
                                                Project Name:
                                            </div>
                                            <div class="col col-6">
                                                {{FlatDetails.ProjectName}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-6">
                                                Tower:
                                            </div>
                                            <div class="col col-6">
                                                {{FlatDetails.TowerNo}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-6">
                                                Floor:
                                            </div>
                                            <div class="col col-6">
                                                {{FlatDetails.FloorNo}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-6">
                                                Flat/Property No:
                                            </div>
                                            <div class="col col-6">
                                                {{FlatDetails.FlatNo}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-6">
                                                Flat Type:
                                            </div>
                                            <div class="col col-6">
                                                {{FlatDetails.FlatType}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-6">
                                                Size:
                                            </div>
                                            <div class="col col-6" id="FlatSize">{{FlatDetails.FlatSize}}</div>
                                        </div>
                                        <div class="divider"><hr /></div>
                                        <div class="row">
                                            <div class="col col-6">
                                                Sale Price:
                                            </div>
                                            <div class="col col-6">
                                                {{FlatDetails.SalePrice}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-6">
                                                Total Amount:
                                            </div>
                                            <div class="col col-6">
                                                <b id="InstallmentTotal">{{GTotal}} </b>
                                                <input type="hidden" value="{{GTotal}}" id="GAmount">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <h3>New Property Info</h3>
                                        <div class="row">
                                            <div class="col col-6">
                                                Company Name:
                                            </div>
                                            <div class="col col-6">
                                                {{FlatDetails2.CompanyName}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-6">
                                                Project Name:
                                            </div>
                                            <div class="col col-6">
                                                {{FlatDetails2.ProjectName}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-6">
                                                Tower:
                                            </div>
                                            <div class="col col-6">
                                                {{Tower2Name}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-6">
                                                Floor:
                                            </div>
                                            <div class="col col-6">
                                                {{FlatDetails2.FloorName}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-6">
                                                Flat/Property No:
                                            </div>
                                            <div class="col col-6">
                                                {{FlatDetails2.FlatNo}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-6">
                                                Flat Type:
                                            </div>
                                            <div class="col col-6">
                                                {{FlatDetails2.FlatType}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-6">
                                                Size:
                                            </div>
                                            <div class="col col-6" id="FlatSize">{{FlatDetails2.FlatSize}}</div>
                                        </div>
                                        <div class="divider"><hr /></div>
                                        <div class="row">
                                            <div class="col col-6">
                                                Sale Price:
                                            </div>
                                            <div class="col col-6">
                                                {{FlatDetails2.SalePrice}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>

        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        <img src="/content/img/logo.png" width="150" alt="SmartAdmin">
                    </h4>
                </div>
                <div class="modal-body no-padding">
                    <form id="login-form" class="smart-form">
                        <fieldset>
                            <section>
                                <div class="row">
                                    <div class="col col-2"></div>
                                    <div class="col col-10">
                                        <label class="label-danger">
                                         Are you Confirm to Transfer Property?
                                        </label>
                                    </div>
                                </div>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="submit" id="btnConfirmSave" data-ng-click="ConfirmedTransferProperty()" class="btn btn-primary">
                                Submit
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                        </footer>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

@section pagespecific {
    <script src="~/AgController/Transferpropertyjs.js"></script>
}