@{
    ViewBag.Title = "AddDiscount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section topright{
    <h1 class="page-title txt-color-blueDark">
        <!-- PAGE HEADER -->
        <i class="fa-fw fa fa-flag"></i>
        Approve Discount
        <span>
            >
            Payment
        </span>
    </h1>
}

<div id="content" data-ng-app="PaymentApp" data-ng-controller="PaymentDiscountController">

    <div id="MessageArea" class="alert alert-block alert-{{MessageClass}}" style="display: none;">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i><b id="MessageTitle"></b>{{MessageTitle}}</h4>
        <p id="Message">
            {{Message}}
        </p>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="" data-ng-init="ApproveDiscountInit()">
        <input type="hidden" id="hidFlatID" data-ng-model="Pay.SaleID" value="@ViewBag.ID" />
        <!-- START ROW -->
        <div class="row" id="Newsaletower">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-user"></i></span>
                        <h2>Add Payment Discount</h2>
                    </header>
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <div class="">
                            <div class="step-content">
                                <div class="form-horizontal" id="fuelux-wizard">
                                    <div class="form-content">
                                        <div class="row">
                                            <div class="col-md-2">
                                            </div>
                                            <div class="col-md-2">
                                                <b>Choose User Name:</b>
                                            </div>
                                            <div class="col-md-3">
                                                <select name="UserName" class="form-control" data-ng-model="UserName" data-ng-change="UserChange()" id="UserName" required>
                                                    <option data-ng-repeat="pro in UserList" value="{{ pro.UserName }}">{{pro.UserName }}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <a href="#" value="Search" data-ng-click="SearchUserDiscountList()" class="btn btn-primary" id="Srch1">Search</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row" id="divTrans">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                        <h2>Payment List</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped particular_tbl">
                                                <thead>
                                                    <tr>
                                                        <th><b>SN</b></th>
                                                        <th><b>FlatNo</b></th>
                                                        <th><b>Customer Name</b></th>
                                                        <th><b>Payment Type</b></th>
                                                        <th><b>Apply Date</b></th>
                                                        <th><b>Remarks</b></th>
                                                        <th><b>Amount</b></th>
                                                        <th><b>Action</b></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="pay in PaymentList">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{pay.FlatNo}}</td>
                                                        <td>{{pay.CustomerName}}</td>
                                                        <td>{{pay.PaymentType}}</td>
                                                        <td>{{pay.ReqDateSt}}</td>
                                                        <td>{{pay.Remark}}</td>
                                                        <td>{{pay.Amount}}</td>
                                                        <td><a data-toggle="modal" href="#myModal" class="btn btn-sm btn-primary" data-ng-click="ApprovePaymentClick(pay.PaymentDiscountID)">Approve</a> </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>



                                </div>

                                <footer>
                                </footer>
                            </form>
                        </div>
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>

        <!-- END ROW -->
    </section>
    <br />
    <label class="text-danger "><b>Note: At the time of last approval on discount amount by admin, that amount auto approved by system and requested amount will be credited on requested amount type.</b></label>
    <!-- end widget grid -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        <img src="/content/img/logo.png" width="150" alt="SmartAdmin">
                    </h4>
                </div>
                <div class="modal-body no-padding">
                    <form id="login-form" class="smart-form">
                        <fieldset>
                            <section>
                                <div class="row">
                                    <div class="col col-6">
                                        <label class="label-danger">
                                            Are you Confirm to Approve Payment Amount?
                                        </label><br /><br />
                                        <textarea id="txtRemarks" placeholder="Enter Remarks Here." class="form-control" name="txtRemarks" data-ng-model="Pay.Remark"></textarea>
                                    </div>
                                    <div class="col col-6">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped particular_tbl">
                                                <thead>
                                                    <tr>
                                                        <th><b>SN</b></th>
                                                        <th><b>UserName</b></th>
                                                        <th><b>Date</b></th>
                                                        <th><b>Days</b></th>
                                                        <th><b>Status</b></th>
                                                        <th><b>Remarks</b></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="pa in PaymentApproveList">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{pa.UserName}}</td>
                                                        <td>{{pa.UpdateDate}}</td>
                                                        <td>{{pa.Days}}</td>
                                                        <td>{{pa.IsApproved}}</td>
                                                        <td>{{pa.Remark}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="submit" id="btnConfirmSave" data-ng-click="ConfirmedPaymentDiscount()" class="btn btn-primary">
                                Submit
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

@section pagespecific {
    <script src="~/AgController/PaymentDiscountjs.js"></script>
}