
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" data-ng-app="PaymentApp" data-ng-controller="PaymentController">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-flag"></i>
                Installment Payments
                <span>
                    >
                    Details
                </span>
            </h1>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
        </div>
    </div>
    <div id="MessageArea" class="alert alert-block alert-{{MessageClass}}" style="display:none;">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> {{MessageTitle}}</h4>
        <p>
            {{Message}}
        </p>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" data-ng-init="EditPayment()" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <h2>Payment Wizard </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body fuelux">
                            <div class="step-content">
                                <div class="form-horizontal" id="fuelux-wizard">
                                    <fieldset>
                                        <div class="row">
                                            <input type="hidden" data-ng-model="Payment.PaymentID" name="PaymentID" id="PaymentID" />
                                            <input type="hidden" data-ng-model="Payment.TransactionID" name="TransactionID" id="TransactionID" value="@ViewBag.ID" />
                                            <div class="message">
                                                <p>
                                                    <center>{{ Error}}  {{ Message }}</center>
                                                </p>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="step-pane active" id="step3">
                                        <div class="jarviswidget wdgt_marg" data-widget-editbutton="false" data-widget-custombutton="false">
                                            <header>
                                                <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                                <h2>Property  Detail</h2>
                                            </header>
                                            <!-- widget div-->
                                            <div>
                                                <!-- widget edit box -->
                                                <div class="jarviswidget-editbox">
                                                    <!-- This area used as dropdown edit box -->
                                                </div>
                                                <!-- end widget edit box -->
                                                <!-- widget content -->
                                                <div class="widget-body no-padding">
                                                    <div id="flatdetail" class="row">
                                                        <div class="col-sm-1"></div>
                                                        <div class="col-sm-6 ">
                                                            <div id="comment-form" class="smart-form">
                                                                <fieldset>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="hm_content_sec_top">
                                                                                <input type="hidden" id="FlatName" name="FlatName" value="{{Payment.FlatName}}" />
                                                                                <input type="hidden" id="DueAmount" name="DueAmount" value="{{Payment.DueAmount}}" />
                                                                                <input type="hidden" id="DueDate" name="DueDate" value="{{Payment.DueDate}}" />
                                                                                <input type="hidden" id="ddlPayment" name="ddlPayment" value="{{Payment.InstallmentNo}}" />
                                                                                <input type="hidden" id="IsReceipt" name="IsReceipt" value="{{Payment.IsReceipt}}" />
                                                                                <ul>
                                                                                    <li>Property Name:</li>
                                                                                    <li id="FlatName">{{Payment.FlatName}} </li>
                                                                                </ul>
                                                                                <ul>
                                                                                    <li>Customer Name:</li>
                                                                                    <li id="CustomeName">{{Sale.Sale[0].CustomerName}}</li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                        @*<div class="col-sm-6">
                                                            <div id="comment-form" class="smart-form">
                                                                <fieldset>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="hm_content_sec_top">
                                                                                <input type="hidden" id="SaleID" value="{{Sale.Sale[0].SaleID}}" />
                                                                                <ul>
                                                                                    <li>Sale Price</li>
                                                                                    <li><span id="SalePrice">{{ Sale.Sale[0].SaleRate}}</span></li>
                                                                                </ul>
                                                                                <ul>
                                                                                    <li>Received Amount:</li>
                                                                                    <li><span id="PaidAmount">{{ Amount.TotalPaid }}</span></li>
                                                                                </ul>
                                                                                <ul>
                                                                                    <li>Balance Amount:</li>
                                                                                    <li><span id="Balance">{{ Sale.Sale[0].SaleRate -  Amount.TotalPaid}}</span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        </div>*@
                                                    </div>
                                                    <!-- end widget content -->
                                                </div>
                                                <!-- end widget div -->
                                            </div>
                                        </div>
                                            <div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">
                                                <header>
                                                    <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                                    <h2>Payments</h2>
                                                </header>
                                                <!-- widget div-->
                                                <div>
                                                    <!-- widget edit box -->
                                                    <div class="jarviswidget-editbox">
                                                        <!-- This area used as dropdown edit box -->
                                                    </div>
                                                    <!-- end widget edit box -->
                                                    <!-- widget content -->
                                                    <div class="widget-body no-padding">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div id="comment-form" class="smart-form">
                                                                    <fieldset>
                                                                        <div class="row">
                                                                            <div class="col-sm-4 col">
                                                                                <label class="label">Payment Date (DD/MM/YYYY)</label>
                                                                                <label class="input">
                                                                                    <input type="text" id="paymentDate" placeholder="{{Payment.PaymentDateSt}}" value="{{Payment.PaymentDateSt}}" class="datecal" required="required" />
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-12 col">
                                                                                <label class="label">Payment Mode: </label>
                                                                            </div>
                                                                            <section class="col col-sm-12">
                                                                                <label class="select">
                                                                                    <input type="hidden" id="hiddenPaymentMode" name="hiddenPaymentMode" value="{{Payment.PaymentMode}}" />
                                                                                    <select id="PaymentMode" name="budget" placeholder="{{Payment.PaymentMode}}" onchange="PaymentModeChange(this)">
                                                                                        <option value="Cash">Cash</option>
                                                                                        <option value="Cheque">Cheque</option>
                                                                                        <option value="DD">DD</option>
                                                                                        <option value="RTGS">RTGS</option>
                                                                                        <option value="Bank Transfer">Bank Transfer</option>
                                                                                        <option value="NEFT">NEFT</option>
                                                                                        <option value="Transfer Entry">Transfer Entry</option>
                                                                                    </select>
                                                                                    <i></i>
                                                                                </label>
                                                                            </section>
                                                                        </div>
                                                                        <div class="row" id="divCheque">
                                                                            <div class="col-sm-12 col">
                                                                                <label class="label">Cheque No.</label>
                                                                                <label class="input">
                                                                                    <input id="ChequeNo" value="{{Payment.ChequeNo}}" type="text" />
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-sm-12 col">
                                                                                <label class="label">Cheque Date</label>
                                                                                <label class="input">
                                                                                    <input type="text" id="chequeDate" value="{{ Payment.ChequeDateSt}}" class="datecal" />
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-sm-8 col">
                                                                                <label class="label">Bank Name </label>
                                                                                <label class="select">
                                                                                    <select id="BankName" placeholder="{{Payment.BankName}}">
                                                                                        <option data-ng-repeat="bk in Banks" value="{{ bk.BankID }}">{{ bk.BankName }}</option>
                                                                                    </select>
                                                                                </label>
                                                                            </div>
                                                                            <div class="col-sm-12 col">
                                                                                <label class="label">Bank Branch</label>
                                                                                <label class="input">
                                                                                    <input type="text" value="{{Payment.BankBranch}}" id="BankBranch" />
                                                                                </label>
                                                                            </div>

                                                                        </div>
                                                                        <div class="col col-sm-12">
                                                                            <label class="label">Remarks</label>
                                                                            <label class="input">
                                                                                <textarea id="Remarks" class="form-control" value="{{Payment.Remarks}}" placeholder="{{Payment.Remarks}}" rows="3">{{Payment.Remarks}}</textarea>
                                                                            </label>
                                                                        </div>
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div id="comment-form" class="smart-form">
                                                                    <fieldset>
                                                                        <div class="row">
                                                                            <section class="col col-sm-12">
                                                                                <label class="label">Amount Received</label>
                                                                                <label class="input">
                                                                                    <input onblur="inWords(this.value)" value="{{Payment.Amount}}" type="text" id="ReceivedAmount">
                                                                                </label>
                                                                            </section>
                                                                            <section class="col col-sm-12">
                                                                                <label class="label">Amount Received (IN Words)</label>
                                                                                <label class="input">
                                                                                    <input type="text" id="PaymentAmountInWords" data-ng-model="ReceiveAmountWord" value="{{ReceiveAmountWord}}" name="name">
                                                                                </label>
                                                                            </section>
                                                                        </div>
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                    <!-- end widget content -->
                                                </div>
                                                <!-- end widget div -->
                                            </div>

                                            <div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">
                                                <header>
                                                    <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                                    <div class="pull-right"><b>Total Paid Amount: <span>{{ Amount.TotalPaid }}.00/-&nbsp;&nbsp;&nbsp;&nbsp;</span></b></div>
                                                    <h2>Payments Details</h2>
                                                </header>
                                                @*<div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-bordered table-striped particular_tbl">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th><b>Receipt No</b></th>
                                                                                    <th><b>Amount</b></th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr data-ng-repeat="pay in Payment.Payments">
                                                                                    <td>{{ pay.PaymentNo}}</td>
                                                                                    <td>{{ pay.Amount}}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>*@
                                                <div class="row">
                                                    <div class="col-md-12">

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="table-responsive">
                                                                            <table class="table table-bordered table-striped particular_tbl">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('PaymentDateSt', reverse)" class="pointer">PaymentDate <i class="fa fa-sort-down"></i> </th>
                                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('FlatName', reverse)" class="pointer">PropertyName <i class="fa fa-sort-down"></i> </th>
                                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('CustomerName', reverse)" class="pointer">CustomerName <i class="fa fa-sort-down"></i> </th>
                                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('Amount', reverse)" class="pointer">Amount <i class="fa fa-sort-down"></i> </th>
                                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('PaymentStatus', reverse)" class="pointer">Status <i class="fa fa-sort-down"></i> </th>
                                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('PaymentMode', reverse)" class="pointer">PaymentMode <i class="fa fa-sort-down"></i> </th>
                                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('ChequeDateSt', reverse)" class="pointer">ChequeDate <i class="fa fa-sort-down"></i> </th>
                                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('ChequeNo', reverse)" class="pointer">ChequeNo <i class="fa fa-sort-down"></i> </th>
                                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('BankName', reverse)" class="pointer">BankName <i class="fa fa-sort-down"></i> </th>
                                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('BankBranch', reverse)" class="pointer">Branch <i class="fa fa-sort-down"></i> </th>
                                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('CreatedBy', reverse)" class="pointer">UserName <i class="fa fa-sort-down"></i> </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr data-ng-repeat="sr in PaymentList">
                                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.PaymentDateSt}}</td>
                                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.FlatName}}</td>
                                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.CustomerName}}</td>
                                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.Amount}}</td>
                                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.PaymentStatus}}</td>
                                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.PaymentMode}}</td>
                                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.ChequeDateSt}}</td>
                                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.ChequeNo}}</td>
                                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.BankName}}</td>
                                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.BankBranch}}</td>
                                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.CreatedBy}}</td>
                                                                                    </tr>
                                                                                    <tr><td></td><td></td><td><b>Total</b></td><td><b>{{TotalSearchAmount}}</b></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- widget div-->
                                                <div>
                                                    <!-- widget edit box -->
                                                    <div class="jarviswidget-editbox">
                                                        <!-- This area used as dropdown edit box -->
                                                    </div>
                                                    <!-- end widget edit box -->
                                                    <!-- widget content -->
                                                    <!-- end widget content -->
                                                </div>
                                                <!-- end widget div -->
                                            </div>

                                       
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->

</div>
@section pagespecific {
    <script src="~/AgController/Paymentjs.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".datecal").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1970:2014',
                dateFormat: 'dd/mm/yy'
            });
        });
        $(document).ready(function () {
            $('#loading').hide();
            $('#btnSubmitPayment').click(function () {
                $('#btnSubmitPayment').hide();
                $('#loading').show();
            })
        });
    </script>
}

